/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* PAGE STYLES */

body {
	font-family: 'lucida grande', Helvetica, Arial, tahoma, verdana, arial, sans-serif; /* I would choose Helvetica first ;) */
}

#event-app {
	position: relative;
	margin-top: 30px;
	display: block;
	white-space: nowrap;
}


#event-captions {
	display: inline-block;
	vertical-align: top;
	position: relative;
	min-width: 75px;
	overflow: hidden;
}

.event-caption {
	display: block;
	text-align: right;
	padding-right: 9px;
	position: absolute;
	top: 0;
	right: 0;
	color: #BABABA;
	font-size: 9px;
  -webkit-animation-fill-mode: initial;
          animation-fill-mode: initial;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: appearRight;
          animation-name: appearRight;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}

.event-caption--main::after {
	content: attr(data-ampm);
	margin-left: 7px;
	text-transform: uppercase;
}

.event-caption--main .event-caption__hour {
	color: #7E7E7E;
	font-weight: bold;
	font-size: 12px;
}

#event-canvas-wrapper {
	background: #ECECEC;
	padding: 0 10px;
	border-left: 1px solid #DDD;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

#event-canvas {
	position: relative;
}

.event {
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}

.event-wrapper {
	background: #FFFFFF;
	border: 1px solid #DBDBDB;
	position: relative;
	padding: 5px 5px 5px 10px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	box-shadow: 0 -1px 1px rgba(236,236,236,0.5);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}

.event-wrapper:before {
	content: '';
	background: #4B6EA8;
	width: 4px;
	position: absolute;
	left: -1px;
	top: -1px;
	bottom: -1px;
}

.event__name {
	font-weight: bold;
	font-size: 12px;
	color: #4B6EA8;
	line-height: 17px;
}

.event__location {
	display: block;
	font-size: 9px;
	color: #9197A3;
}

.event__remove {
	background: #fff url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yB/r/dnlPjT0ByhB.png); /* X icon */
	background-repeat: no-repeat;
	background-size: 312px 680px;
	background-position: -133px -503px;
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	right: 5px;
	top: 5px;
	text-indent: -10000px;
	display: none;
}

.event:hover .event__remove {
	display: block;
}

#event-extras {
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;
}

.event-button {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	background: #f6f7f8 url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y1/r/wL6VQj7Ab77.png) repeat-x;
	border: 1px solid;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	-webkit-box-sizing: content-box;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	position: relative;
	text-align: center;
	vertical-align: middle;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	background-color: #4e69a2;
	border-color: #435a8b #3c5488 #334c83;
	font-size: 12px;
	line-height: 26px;
	padding: 0 10px;
	color: #fff;
	background-position: 0 -360px;
}

.event-button:active {
	background-color: #4e69a2;
	border-color: #2f477a #314a7f #334c83;
	-webkit-box-shadow: 0 0 1px 2px rgba(88, 144, 255, .75), 0 1px 1px rgba(0, 0, 0, .15);
	outline: none;
	background-position: 0 -517px;
}

.event-button {
	display: block;
	margin-bottom: 10px;
}

.event, .event-caption, #event-canvas {
	transition: all .4s ease-in-out;
}

/* ANIMATIONS */

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes appearRight {
  0% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearRight {
  0% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

